nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*  border: 1px red solid;*/
}
nav > div {
  margin-left: 2rem;
}
#headerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* le margin peut prendre 4 valeur pour le haut  et right et le left
    le bas et  au sens du montre */
  margin: 0 1rem 0 1rem;
}
#headerMenu > li {
  list-style: none;
  padding: 1rem;
  /* dans le cas de bouton c'est mieux d'utiliser le padding */
}

#headerMenu > li:hover
{
background-color: rgb(82, 82, 90);
cursor: pointer;
}
#headerMenu a {
text-decoration: none;
color: black;
}
@media screen and (max-width:576px)
{
  #headerMenu{
    display: none;
    
  }
 
}
